In [2]:

import pandas as pd
import json
import os
import sqlite3
from sqlalchemy import create_engine
import plotly.express as px
import matplotlib.pyplot as plt
import requests
import json

**Aggr_Transaction**

In [3]:
#agg_trans

path1 ="C:/Users/Admin/OneDrive/Desktop/phonepe/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path1)
#Agg_state_list # you  wil get state list


#This is to extract the data's to create a dataframe

cols1={'State':[], 'Year':[],'Quater':[],'Transacion_type':[],
       'Transacion_count':[], 'Transacion_amount':[]}

for state in Agg_state_list:
    cur_states=path1+state+"/"
    Agg_yr=os.listdir(cur_states)
    #agg_yr # you will get year  list
    
    for year in Agg_yr:
        cur_year=cur_states+year+"/"
        Agg_file=os.listdir(cur_year)
        #agg_file  # you will get json files
        
        for file in Agg_file:
            cur_file=cur_year+file
            Data=open(cur_file,'r')
            A=json.load(Data)
            # A   # you will get 1.json file details
            
            # slicing to get data
            for i in A['data']['transactionData']:
                Name=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                cols1['Transacion_type'].append(Name)
                cols1['Transacion_count'].append(count)
                cols1['Transacion_amount'].append(amount)
                cols1['State'].append(state)
                cols1['Year'].append(year)
                cols1['Quater'].append(int(file.strip('.json')))
                
Agg_Trans=pd.DataFrame(cols1) 
              
Agg_Trans['Year']= pd.to_datetime(Agg_Trans['Year']).dt.year                
Agg_Trans['State']= Agg_Trans['State'].str.replace("-"," ")
Agg_Trans['State']= Agg_Trans['State'].str.title()
Agg_Trans['State']= Agg_Trans['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
Agg_Trans['State']= Agg_Trans['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagarhaveli and Daman  and Diu')

**Aggr_User**

In [4]:
# Aggr_User

path2 ="C:/Users/Admin/OneDrive/Desktop/phonepe/pulse/data/aggregated/user/country/india/state/"
Agg_state_list=os.listdir(path2)
#Agg_state_list # you  wil get state list


#This is to extract the data's to create a dataframe

cols2={'State':[], 'Year':[],'Quater':[],'Brands':[],
    'Transacion_count':[], 'Percentage':[]}

for state in Agg_state_list:
    cur_states=path2+state+"/"
    Agg_yr=os.listdir(cur_states)
    #agg_yr # you will get year  list
    
    for year in Agg_yr:
        cur_year=cur_states+year+"/"
        Agg_file=os.listdir(cur_year)
        #agg_file  # you will get json files
        
        for file in Agg_file:
            cur_file=cur_year+file
            Data=open(cur_file,'r')
            B=json.load(Data)
            #print(B)   # you will get 1.json file details
            #print(B['data']['usersByDevice'])
            
            # slicing to get data
            try:
                for i in B['data']['usersByDevice']:
                    Brand=i['brand']
                    count=i['count']
                    Percentage=i['percentage']
                    cols2['Brands'].append(Brand)
                    cols2['Transacion_count'].append(count)
                    cols2['Percentage'].append(Percentage)
                    cols2['State'].append(state)
                    cols2['Year'].append(year)
                    cols2['Quater'].append(int(file.strip('.json')))
            except: 
                    pass 
                
Agg_User=pd.DataFrame(cols2)

Agg_User['Year']= pd.to_datetime(Agg_User['Year']).dt.year            
Agg_User['State']= Agg_User['State'].str.replace("-"," ")
Agg_User['State']= Agg_User['State'].str.title()
Agg_User['State']= Agg_User['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
Agg_User['State']= Agg_User['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagarhaveli and Daman  and Diu')

**map_transaction**

In [5]:
#map_transaction

path3 ="C:/Users/Admin/OneDrive/Desktop/phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_state_list=os.listdir(path3)
#map_state_list # you  wil get state list


#This is to extract the data's to create a dataframe

cols3={'State':[], 'Year':[],'Quater':[],'Districts':[],
       'Transacion_count':[], 'Transacion_amount':[]}

for state in map_state_list:
    cur_states=path3+state+"/"
    map_yr=os.listdir(cur_states)
    #map_yr # you will get year  list
    
    for year in map_yr:
        cur_year=cur_states+year+"/"
        map_file=os.listdir(cur_year)
        #map_file  # you will get json files
        
        for file in map_file:
            cur_file=cur_year+file
            Data=open(cur_file,'r')
            C=json.load(Data)
            #print(C)   # you will get 1.json file details
            
            # slicing to get data
            for i in C['data']['hoverDataList']:
                Name=i['name']
                count=i['metric'][0]['count']
                amount=i['metric'][0]['amount']
                cols3['Districts'].append(Name)
                cols3['Transacion_count'].append(count)
                cols3['Transacion_amount'].append(amount)
                cols3['State'].append(state)
                cols3['Year'].append(year)
                cols3['Quater'].append(int(file.strip('.json')))
                
map_Trans=pd.DataFrame(cols3) 
 
map_Trans['Year']= pd.to_datetime(map_Trans['Year']).dt.year              
map_Trans['State']= map_Trans['State'].str.replace("-"," ")
map_Trans['State']= map_Trans['State'].str.title()
map_Trans['State']= map_Trans['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
map_Trans['State']= map_Trans['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagarhaveli and Daman  and Diu')

**map_user**

In [6]:
# map_User
path4 ="C:/Users/Admin/OneDrive/Desktop/phonepe/pulse/data/map/user/hover/country/india/state/"
map_state_list=os.listdir(path4)
#map_state_list # you  wil get state list

#This is to extract the data's to create a dataframe

cols4={'State':[], 'Year':[],'Quater':[],'Districts':[],
       'RegisteredUsers':[], 'AppOpens':[]}

for state in map_state_list:
    cur_states=path4+state+"/"
    map_yr=os.listdir(cur_states)
    #map_yr # you will get year  list
    
    for year in map_yr:
        cur_year=cur_states+year+"/"
        map_file=os.listdir(cur_year)
        #map_file  # you will get json files
        
        for file in map_file:
            cur_file=cur_year+file
            Data=open(cur_file,'r')
            D=json.load(Data)
            #print(D)   # you will get 1.json file details
            
            # slicing to get data
            for i in D['data']['hoverData'].items():
                district=i[0]
                registeredUsers=i[1]['registeredUsers']
                appOpens=i[1]['appOpens']
                cols4['Districts'].append(district)
                cols4['RegisteredUsers'].append(registeredUsers)
                cols4['AppOpens'].append(appOpens)
                cols4['State'].append(state)
                cols4['Year'].append(year)
                cols4['Quater'].append(int(file.strip('.json')))
                
map_User=pd.DataFrame(cols4)                
map_User['Year']= pd.to_datetime(map_User['Year']).dt.year
map_User['State']= map_User['State'].str.replace("-"," ")
map_User['State']= map_User['State'].str.title()
map_User['State']= map_User['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
map_User['State']= map_User['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagarhaveli and Daman  and Diu')

**Top_transaction**

In [7]:
#top_trans
path5 ="C:/Users/Admin/OneDrive/Desktop/phonepe/pulse/data/top/transaction/country/india/state/"
top_state_list=os.listdir(path5)
#top_state_list # you  wil get state list


#This is to extract the data's to create a dataframe

cols5={'State':[], 'Year':[],'Quater':[],'Pincodes':[],
       'Transacion_count':[], 'Transacion_amount':[]}

for state in top_state_list:
    cur_states=path5+state+"/"
    top_yr=os.listdir(cur_states)
    #top_yr # you will get year  list
    
    for year in top_yr:
        cur_year=cur_states+year+"/"
        top_file=os.listdir(cur_year)
        #top_file  # you will get json files
        
        for file in top_file:
            cur_file=cur_year+file
            Data=open(cur_file,'r')
            E=json.load(Data)
            #print(E)   # you will get 1.json file details
            
            # slicing to get data
            for i in E['data']['pincodes']:
                entityName=i['entityName']
                count=i['metric']['count']
                amount=i['metric']['amount']
                cols5['Pincodes'].append(entityName)
                cols5['Transacion_count'].append(count)
                cols5['Transacion_amount'].append(amount)
                cols5['State'].append(state)
                cols5['Year'].append(year)
                cols5['Quater'].append(int(file.strip('.json')))
                
top_Trans=pd.DataFrame(cols5)   
top_Trans['Year']= pd.to_datetime(top_Trans['Year']).dt.year 
top_Trans['State']= top_Trans['State'].str.replace("-"," ")
top_Trans['State']= top_Trans['State'].str.title()
top_Trans['State']= top_Trans['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
top_Trans['State']= top_Trans['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagarhaveli and Daman  and Diu')

**top_User**

In [8]:
#top_User
path6 ="C:/Users/Admin/OneDrive/Desktop/phonepe/pulse/data/top/user/country/india/state/"
top_state_list=os.listdir(path6)
#top_state_list # you  wil get state list


#This is to extract the data's to create a dataframe

cols6={'State':[], 'Year':[],'Quater':[],'Pincodes':[],
       'RegisteredUsers':[]}

for state in top_state_list:
    cur_states=path6+state+"/"
    top_yr=os.listdir(cur_states)
    #top_yr # you will get year  list
    
    for year in top_yr:
        cur_year=cur_states+year+"/"
        top_file=os.listdir(cur_year)
        #top_file  # you will get json files
        
        for file in top_file:
            cur_file=cur_year+file
            Data=open(cur_file,'r')
            F=json.load(Data)
            #print(F)   # you will get 1.json file details
            
            # slicing to get data
            for i in F['data']['pincodes']:
                entityName=i['name']
                registeredUsers=i['registeredUsers']
                cols6['Pincodes'].append(entityName)
                cols6['RegisteredUsers'].append(registeredUsers)
                cols6['State'].append(state)
                cols6['Year'].append(year)
                cols6['Quater'].append(int(file.strip('.json')))

top_User=pd.DataFrame(cols6)   
top_User['Year']= pd.to_datetime(top_User['Year']).dt.year 
top_User['State']= top_User['State'].str.replace("-"," ")
top_User['State']= top_User['State'].str.title()
top_User['State']= top_User['State'].str.replace('Andaman & Nicobar Islands','Andaman & Nicobar')
top_User['State']= top_User['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagarhaveli and Daman  and Diu')

**calling dataFrame**

In [ ]:
# Agg_Trans
# Agg_User
# map_Trans
# map_User
# top_Trans
# top_User

**Performing EDA**

In [9]:
len(Agg_Trans['State'].unique())
Agg_Trans['Quater'].unique()
map_User.duplicated().sum()
top_Trans['State'].values
top_Trans.info()
top_Trans.isna().sum()

top_Trans['Pincodes'].value_counts()

##top_Trans['Pincodes'].fillna(744101,inplace =True )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8924 entries, 0 to 8923
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              8924 non-null   object
 1   Year               8924 non-null   int32
 2   Quater             8924 non-null   int64
 3   Pincodes           8922 non-null   object
 4   Transacion_count   8924 non-null   int64
 5   Transacion_amount  8924 non-null   float64
dtypes: float64(1), int32(1), int64(2), object(2)
memory usage: 383.6+ KB

Pincodes
744101    25
122001    25
737126    25
737113    25
737134    25
          ..
403801     1
737139     1
110094     1
110042     1
742202     1
Name: count, Length: 780, dtype: int64

In [10]:
import mysql.connector as db
db_connection =db.connect( host ="localhost",
                          port = 3306,
                          user = "root",
                           password = "root",
                           database ="phonepe_project")
db_connection

curr =db_connection.cursor()

In [11]:
# **  CREATING ENGINE TO SQL MIGRATION**

engine = create_engine("mysql+mysqlconnector://root:root@localhost/phonepe_project")

In [12]:
Agg_Trans.to_sql('Agg_Trans', con=engine, if_exists='replace', index=False)
Agg_User.to_sql('Agg_User', con=engine, if_exists='replace', index=False)
map_Trans.to_sql('map_Trans', con=engine, if_exists='replace', index=False)
map_User.to_sql('map_User', con=engine,if_exists='replace', index=False)
top_Trans.to_sql('top_Trans', con=engine ,if_exists='replace', index=False)
top_User.to_sql('top_User', con=engine,if_exists='replace', index=False)

C:\Users\Admin\AppData\Local\Temp\ipykernel_8188\4082824426.py:1: UserWarning: The provided table name 'Agg_Trans' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Agg_Trans.to_sql('Agg_Trans', con=engine, if_exists='replace', index=False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8188\4082824426.py:2: UserWarning: The provided table name 'Agg_User' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Agg_User.to_sql('Agg_User', con=engine, if_exists='replace', index=False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8188\4082824426.py:3: UserWarning: The provided table name 'map_Trans' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  map_Trans.to_sql('map_Trans', con=engine, if_exists='replace', index=False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8188\4082824426.py:4: UserWarning: The provided table name 'map_User' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  map_User.to_sql('map_User', con=engine,if_exists='replace', index=False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8188\4082824426.py:5: UserWarning: The provided table name 'top_Trans' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  top_Trans.to_sql('top_Trans', con=engine ,if_exists='replace', index=False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8188\4082824426.py:6: UserWarning: The provided table name 'top_User' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  top_User.to_sql('top_User', con=engine,if_exists='replace', index=False)

8925